<div clarr="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/procesos/add" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="titulo" placeholder="Titulo" autofocus>
                        </div>                        
                        <div class="form-group">
                            <textarea name="descripcion"  rows="2" class="form-control" placeholder="Descripción"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>