<div class="container p-4">
    {{#each resultArray}}
        
        
            <div class="card text-center m-4">
                <div class="card-body">
                    
                    <h3 class="card-title text-uppercase">
                        {{titulo}}
                    </h3>
                    
                </div>
                <p class="m-2">{{descripcion}}</p>
                
                
                <a href="/admin2/deleted/{{id}}/{{idproceso}}" class="btn btn-danger">Eliminar</a>
                
            </div>
        
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay datos... Todavia</p>
                <a href="/links/add" class="btn btn-success">Crea uno!!!</a>
            </div>
        </div>
        {{/each}}
</div>