<div class="container p-4">
    <div class="row">

        {{#each resultArray}}

        <div class="col-md-5">

            <div class="card text-center">
                
                    
                    <div class="card-body">

                        <h3 class="card-title text-uppercase">
                            {{titulo}}
                        </h3>

                    </div>
                    <p class="m-2">{{descripcion}}</p>
                    
                    <form action="/admin2/etapacion" method="POST">
                    <div class="form-group">
                        <input type="text" value="{{idproceso}}" class="form-control" name="idproceso">
                    </div>
                    <div class="form-group">
                        <input type="text" value="{{id}}" class="form-control" name="idetapa">
                    </div>
                    <div class="formgroup text-center">
                        <button class="btn btn-secondary">Asignar a {{titulo}} al proceso: {{titulo2}}</a>
                    </div>
                </form>
            </div>

        </div>

        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay datos... Todavia</p>
                <a href="/links/add" class="btn btn-success">Introduce etapa nueva</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>