<div class="container p-4">
    {{#each links}}
        
        
            <div class="card col-md-3 text-center m-4">
                <div class="card-body">
                    
                    <h3 class="card-title text-uppercase">
                        {{titulo}}
                    </h3>
                    
                </div>
                <p class="m-2">{{descripcion}}</p>
                
                <a href="/admin2/etapacion/{{id}}" class="btn btn-success">Añadir etapa</a>
                <a href="/admin2/delete/{{id}}" class="btn btn-danger">Eliminar etapa</a>
                
            </div>
        
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay datos... Todavia</p>
                <a href="/procesos/add" class="btn btn-success">Crea uno!!!</a>
            </div>
        </div>
        {{/each}}
</div>