<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Herramienta producción</h1>
            <h3 class="mb-5">
                <em>Consulta y modifica tus horarios</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Accede desde aquí
            </a>
        </div>
    </header>

</main>