/*CSS General (Se aplica a todo)*/
body{
    background: #f5f6f5;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

.index {
    width: 100vw;
    height: 100vh;
}

.masthead{
    color: black;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    background: url('/img/back.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1{
    font-size: 4rem;
    margin: 0;
    padding: 0;
    

}