<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Proyecto final</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {{#if user}}
        <li class="nav-item">
        <a href="/profile" class="nav-link">Perfil</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Etapas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/links">Ver etapas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/links/add">Añadir etapa</a>
        </div>
      </li>      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Procesos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/procesos">Ver procesos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/procesos/add">Añadir procesos</a>
        </div>
      </li>    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administracion
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admin">Asignar trabajadores a etapa</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin2">Asignar etapas a procesos</a>
        </div>
      </li>  
      <li class="nav-item">
        <a href="/logout" class="nav-link">Cerrar sesion</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a href="/signin" class="nav-link">La entrada a la aplicacion</a>
      </li>
      <li class="nav-item">
        <a href="/signup" class="nav-link">No tienes usuario? Pinchame</a>
      </li>
      {{/if}}
           
    </ul>
  </div>
  </div>
</nav>