<!--Vista para asignar trabajadores a etapa-->

<div class="container p-4">
    <div class="row">
        <!--Para cada linea del objeto recibido, pinta-->
        {{#each resultArray}}

        <div class="col-md-5">

            <div class="card text-center">
                
                    
                    <div class="card-body">

                        <h3 class="card-title text-uppercase">
                            {{nombre}} {{apellidos}}
                        </h3>

                    </div>
                    <p class="m-2">{{usuario}}</p>
                    <p>Horas Max: {{horasmax}} - Horas Cumplidas{{horasacum}} ID:{{idetapa}}</p>
                    <form action="/admin/adminworkers" method="POST">
                    <div class="form-group">
                        <input type="text" value="{{idetapa}}" class="form-control" name="idetapa">
                    </div>
                    <div class="form-group">
                        <input type="text" value="{{id}}" class="form-control" name="id">
                    </div>
                    <div class="formgroup text-center">
                        <button class="btn btn-secondary">Poner a {{nombre}} {{apellidos}} a {{titulo}}</a>
                    </div>
                </form>
            </div>

        </div>
        <!--Si no hay nada pinta esto-->
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay datos... Todavia</p>
                <a href="/perfil" class="btn btn-success">Vuelve al perfil</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>