<!--Muestra todas las etapas para hacer peticiones de participacion en una etapa-->
<div class="container p-4">
    {{#each links}}        
            <div class="card col-md-3 text-center m-4">
                <div class="card-body">
                    
                    <h3 class="card-title text-uppercase">
                        {{titulo}}
                    </h3>
                    
                </div>
                <p class="m-2">{{descripcion}}</p>
                
                <a href="/admin/adminworkers/{{id}}" class="btn btn-success">Añadir trabajador</a>
                <a href="/admin/delete/{{id}}" class="btn btn-danger">Eliminar trabajador</a>
                
            </div>
        <!--Sino pinta esto-->
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay datos... Todavia</p>
                <a href="/links/add" class="btn btn-success">Crea uno!!!</a>
            </div>
        </div>
        {{/each}}
</div>