<div class="container p-4">
    <div class="row">

        {{#each links}}

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    
                    <h3 class="card-title text-uppercase">
                        {{titulo}}
                    </h3>
                    
                </div>
                <p class="m-2">{{descripcion}}</p>
                <p>{{horas}}</p>
                <a href="/links/delete/{{id}}" class="btn btn-danger">Borrar</a>
                <a href="/links/edit/{{id}}" class="btn btn-secondary">Editar</a>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay datos... Todavia</p>
                <a href="/links/add" class="btn btn-success">Crea uno!!!</a>
            </div>
        </div>
        {{/each}}

    </div>
</div>