<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Sign Up</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellidos" placeholder="Apellidos" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="usuario" placeholder="Usuario" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="contraseña" placeholder="Contraseña" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="horasmax" placeholder="Maximo de horas" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="horasacum" placeholder="Horas que lleva" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Sign Up
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>