<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Sign In</h3>
                </div>
                <div class="card-body">
                    <img src="/img/logo.jpg" alt="Aqui habia un logo pero te lo han robado" class="card-img-top mx-auto m-2 rounded-circle w-50">
                    <form action="/signin" method="POST">
                        
                        <div class="form-group">
                            <input type="text" name="usuario" placeholder="Username" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="contraseña" placeholder="Password" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Sign In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>